.center{ text-align:center; margin-bottom: 8px; font-size: 25px;}
	body { 		
		font-family: Verdana;
		
	}
	table { 
		border: 5px solid #DDDDCC; 
		width: 500px; 
		height: 500px; 
		text-align:center;
		background: #CCCCBF;
		margin:20px;
	}  
	tr,td { 
		width: 100px;
		height: 50px;
		border: 8px solid #DFDFDF; 
	}
	td{ 
		color: #EEEFFF;
		font-size:28px; 

		margin: 0; 
		padding:0;
		font-weight: bold;
	}

	div#restart { 
		width:300px; 
		margin: 0 auto; 
		text-align: center; 
		font-size: 20px; 
		border-right: 1px solid gray; 
		border-bottom: 1px solid gray; 
		border-top: 1px solid #EFEFEF;
		border-left:  1px solid #EFEFEF;	
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 5px;
		cursor: hand;
		cursor: pointer;
	} 

	div#restart.clicked { 
		border-right: 1px solid #EFEFEF; 
		border-bottom: 1px solid #EFEFEF; 
		border-top: 1px solid gray;
		border-left:  1px solid  gray;	
	}